* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: iransans;
  text-align: justify;
}
@font-face {
  font-family: iransans;
  src: url("../fonts/IRANSansWeb-Light.ttf");
  src: url("../fonts/IRANSansWeb-Light.woff");
  src: url("../fonts/IRANSansWeb-Light.woff2");
}
hr {
  margin: 30px;
}
button {
  color: rgb(141, 140, 140);
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgb(214, 210, 210);
  font-family: iransans;
  background-color: white;
  transition: all 400ms;
  cursor: pointer;
  &:hover {
    background-color: red;
    color: white;
  }
}
p {
  color: rgb(152, 152, 152);
  span {
    color: red;
  }
}

header {
  width: 100%;
  background: url("../img/heaer1.png");
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: sticky;
  top: 0;
  font-size: 15px;
  z-index: 9999;
  img {
    position: relative;
    top: 50px;
    left: 40px;
  }
  nav {
    display: flex;
    .menu_item {
      color: rgb(153, 153, 153);
      text-decoration: none;
      border-left: 0.5px solid rgb(153, 153, 153);
      padding: 0 10px;
      position: relative;
      cursor: pointer;
      transition: 400ms;
      &:hover {
        color: rgb(255, 255, 255);
      }
      .sub_menu {
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        background: url("../img/heaer1.png");
        .sub_menu_item {
          padding: 5px 15px;
          white-space: nowrap;
          text-decoration: none;
          color: lightgrey;
          transition: 400ms;
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }

      &:hover {
        transition: 400ms;

        .sub_menu {
          display: flex;
        }
      }
    }
    a:last-of-type{
      border: none;
    }
  }
}

main {
 .mahsolat{

    .moshakhasat{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .mahsol{
            img{
                width: 300px;
               padding-left: 40px;
            }
        }
        .div1{
            width: 500px;
            .bakhsh1{
                border-bottom: 1px solid rgb(52, 52, 52);
                display: flex;
                justify-content: start;
                align-items: end;
                h2{
                    color: red;
                   
                }
            }
            .vazn{
                border-bottom: 1px solid rgb(52, 52, 52);
                justify-content: end;
                display: flex;
                h3{
                    color: rgb(52, 52, 52);
                    margin-left: auto;
                }
               
                h3, .pics{
                    margin-top: 10px;
                }
            }
            .text{
               padding-top: 20px;
               p,button{
                margin-top: 15px;
               }
            }
        }
    }
 }
  
}
footer {
  padding-top: 150px;
  .end {
    font-family: iransans;
    width: 100%;

    background-image: url(../img/heaer1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-size: 12px;
    .h2list {
      color: #a8a6a6;
      list-style: none;
      border-bottom: 1px solid;
      border-top: 1px solid;
      padding: 10px;
      margin: 10px;
    }
    .li1 {
      list-style: none;
      color: lightgray;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  .red {
    height: 20px;
    background-color: red;
  }
  .neveshte {
    width: 100%;
    padding-top: 60px;
    background-image: url(../img/heaer1.png);
    text-align: center;
    color: rgb(170, 170, 170);
  }
}
